@charset "utf-8";

/* 共通 */
*,*::before,*::after {
    box-sizing: border-box;
}

*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}

/* モバイルファーストで作成していく */

/* ヘッダー部分------------------------------------------------------- */
.page-header {
    background-color: rgb(53, 99, 199);
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
}

.page-header h1 {
    color:whitesmoke;
}

/* ヘッダーのメニュー欄 */
.headerMenu {
    display: flex;
    line-height: 3rem;  
    color: whitesmoke;
}

.headerMenu li {
    font-size: 1.0rem;
}

.hmList {
    color: whitesmoke;
}

/* メイン部分--------------------------------------------------------- */
main {
    background-color: aliceblue;
    min-height: calc(100vh - 4.5rem);
}


/* メイン部分の左右の余白 */
.home {
    display: flex;
    flex-direction: column;
    margin:0 5%;
    padding: 7.5% 0;
} 
/* 社員名中央寄せ */
.home h2 {
    text-align:center;
    margin-bottom: 2rem;
}

/* 月別プルダウン */
.form-control {
    font-size: 1.2rem;
    border: .1rem solid rgb(97, 166, 245);
    border-radius: 7%;
    margin-bottom: 1.5rem;
    width: 6rem;
}

/* 編集欄 */
.edit  {
    text-align: center;
    margin: 0 5% 7% 5%;
    padding: 4%;
    background-color:white;
    border: .1rem solid rgb(97, 166, 245);
    border-radius: 7.5%;
}

.edit_day {
    display: flex;
    
}

.e_day {
    width: 2rem;
    height: 1.5rem;
}

.edit_time {
    margin: 1.5% 0;
    font-size: 1rem;
    text-align: center;
}

.s_edit,.e_edit,.b_edit {
    display: flex;
    justify-content: center;
}

.s_edit input,.e_edit input,.b_edit input{
    line-height: .5rem;
    width: 2rem;    
}

.e_comment {
    width: 15rem;
    height: 3rem;
    overflow: scroll;
}

.alert {
    margin-bottom: 1rem;
    font-size: .9rem;
    color:rgb(163, 3, 3);
}

/* テーブル */
/* 枠線 */
table,th,td {
    border-collapse:collapse;
    border: .1rem solid;
    border-color:rgb(97, 166, 245);
} 
/* テーブル背景色 */
.table {
    background-color:aliceblue;
    text-align: center;
    width: 100%;
}

/*　editボタン */
button {
    margin-top: 1rem;
    width: 7rem;
    height: 1.75rem;
    background-color: rgb(58, 115, 240);
    color: whitesmoke;
    font-size: 1.1rem;
    border-radius: 5%;
}

button:hover {
    background-color: rgb(53, 99, 199);
    border-bottom: blue;
}

/* ログアウト */
.logout {
    margin-top: 2rem;
    text-align: right;
    
    
}

.logout input {
    background-color:rgb(58, 115, 240);
    border-radius: 5%;
    width: 6rem;
    height: 1.85rem;
    color: whitesmoke;
    font-size:1rem;
}

.logout input:hover {
    background-color: rgb(53, 99, 199);
    border-bottom: blue;

}







/* フッター部分------------------------------------------------------- */
.footerClass {
    background-color: aliceblue;
    text-align: center;
    height: 1.5rem;
}

/* タブレット対応------------------------------------------------------ */

/* pc対応 ------------------------------------------------------------ */
@media screen and (min-width:1025px) {

    /* ヘッダー部分------------------------------- */
    /* 両端に余白 */
    .page-header {
        padding:0 2%;
    }
    /* メニュー欄のそれぞれの余白 */
    .headerMenu li {
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    /* メイン部分--------------------------------- */
    /* 編集欄 */
    .edit {
        margin: 0 30% 2% 30%;
        padding: 2%;
    }
    /* 時間を横に並べる */
    .edit_time {
        display: flex;
        justify-content: space-between;
    }

    /* 警告文 */
    .alert {
        font-size: .9rem;
    }

    


    /* フッター部分------------------------------- */
}