@charset "utf-8";

/* 共通 */
*,* ::before,*::after {
    box-sizing:border-box;
}

*{
    text-decoration:none;
    list-style-type: none;
    margin: 0;
}

/* モバイルファーストで作成していく */

/* ヘッダー部分---------------------------------------------------------*/
.page-header {
    background-color: rgb(53, 99, 199);
    height: 3rem;
    padding-left: calc(env(safe-area-inset-left) + .2em);
    padding-right: calc(env(safe-area-inset-right) + .2em);
    padding-top: calc(env(safe-area-inset-top) + .2em);
}

.page-header h1 {
    text-align: center;
    color:whitesmoke;
}

/* メイン部分----------------------------------------------------------- */
main {
    background-color: aliceblue;
    min-height:calc(100vh - 4.5rem);
    position: relative;
    padding-left: calc(env(safe-area-inset-left) + .2em);
    padding-right: calc(env(safe-area-inset-right) + .2em);
}

.login {
    margin:0 3rem;
    padding: 30% 0;
    text-align: center;
}

.login h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.employeeData {
    line-height: 200%;
    margin-bottom: 2rem;
}

.loginButton {
    margin-top: 1rem;
    text-align: center;
}

button {
    width: 6rem;
    height: 1.75rem;
    background-color: rgb(58, 115, 240);
    color: whitesmoke;
    font-size: 1.1rem;
    border-radius: 5%;
}

button:hover {
    background-color: rgb(53, 99, 199);
    border-bottom: blue;
}

.alert {
    font-size: .75rem;
    color:rgb(163, 3, 3);
}



/* フッター部分---------------------------------------------------------- */
.footerClass {
    background-color: aliceblue;
    text-align: center;
    height: 1.5rem;
    padding-left: calc(env(safe-area-inset-left) + .2em);
    padding-right: calc(env(safe-area-inset-right) + .2em);
    padding-bottom: calc(env(safe-area-inset-bottom) + .2em);
    
}


/* pc対応--------------------------------------------------------------- */
@media screen and (min-width:1025px) {

    /* メイン部分---------------------------------------------- */
    .login {
        margin :0;
        padding: 7.5% 30%;
        text-align: center;
    }

    .signupUser {
        padding: 2rem;
        background-color: white;
        border:.1rem solid black;
        border-radius: 5%;
        
    }
}